<!-- views/index.ejs -->

<!DOCTYPE html>
<html>
<body>
  <form action="/shortUrls" method="POST">
    <input name="fullUrl" type="url" placeholder="Paste a URL to shorten it" required>
    <button>Shorten</button>
  </form>
</body>
</html>
